# build output
dist/
.astro/

# dependencies
node_modules/

# environment variables
.env
.env.production
.env.local

# editor / OS
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json

# netlify
.netlify/
